body {
    background: rgb(10,10,50);
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,1);
}

#homepage {
    background: rgb(10,10,50);
    background: linear-gradient(90deg, rgba(10,10,50,1) 0%, 
    rgba(30,25,70,1) 15%, rgba(60,50,140,1) 50%, rgba(120,100,210,1) 100%);
}

#event {
    background: rgb(50,30,10);
    background: linear-gradient(180deg, rgba(50,30,10,1) 0%, 
    rgba(130,70,20,1) 35%, rgba(190,100,20,1) 70%, rgba(255,128,0,1) 100%);
}

h1 {
    text-align: center;
}

hr {
    border: 2.25px solid white;
    border-radius: 50px;
    background-color: white;
}


.content {
    border: 5px solid rgba(255,255,255,0.5);
    border-radius: 30px;
    max-width: 800px;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
}

#content_homepage {
    background: rgba(50,0,120,0.8);
}

#content_homepage:hover {
    box-shadow: 0px 10px 10px rgba(0, 100, 100, 0.8);
}

#content_event {
    background: rgba(255,200,120,0.8);
    color: black;
}

#content_event:hover {
    box-shadow: 0px 10px 10px rgba(255, 200, 100, 0.8);
}

#Cre a {
    float: right;
    margin-right: 2%;
    color: cyan;
}

#Log a {
    float: right;
    margin-right: 2%;
    color: cyan;
}

.link {
    float: right;
    margin-right: 2%;
    color: cyan;
}

.indexlink {
    color: cyan;
}

.rllink {
    margin-right: 2%;
    color: red;
}

.remind {
    color: rgb(230, 0, 0);
}

.shadow:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.65);
}

.mid {
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username {
    text-align: right;
    margin-right: 2%;
}

.indexbtn {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(0, 180, 180);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .indexbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .indexbtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .indexbtn:hover span {
    padding-right: 25px;
  }

  .indexbtn:hover span:after {
    opacity: 1;
    right: 0;
  }

  .iconbtn {
    width: 32px; 
    height: 32px;
    margin-left: 6px;
  }